[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
coverage = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[scripts]
coverage = "coverage run --source='.' manage.py test"
cov_html = "coverage html"
cov_report = "coverage report"
